# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Project specific
uploads/
client/dist/
monaco-editor/
brain/
System_Design.md
